@charset "UTF-8"

/*PAISAGEM*/

*{}

body {
    background: url(../imagens/cev-landscape.jpg) no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
}